// カレンダーの設定
.simple-calendar {

table{
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

  .day {
    height: 80px;
  }
  
   .day {
    background: #fff9ee;
  }
  
  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }
  .prev-month {
    background: #eef3ff;
    color: #000000;
  }
  .next-month {
    background: #eef3ff;
    color: #000000;
  }
  .today {
    background: #FFA0A0;
  }
  
}

